<div class="footer container">
        <div class="footer__inner">
            <h2 class="footer__title">
                #visitSEDONA
            </h2>
            <div class="footer__social">
                <div class="footer__social-item">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="../images/twitter-icon.svg" alt="иконка твиттера">
                    </a>
                </div>
                <div class="footer__social-item">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="../images/facebook-icon.svg" alt="иконка фейсбук">
                    </a>
                </div>
                <div class="footer__social-item">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="../images/youtube-icon.svg" alt="иконка ютуб">
                    </a>
                </div>
            </div>
            <div class="footer__produced">
                <p class="footer__author">Разработано
                </p>
                <img class="footer__icon" src="../images/footer-icon.svg" alt="иконка подвала">
            </div>
        </div>
    </div>