<header class="header__inner container">

    
    <div class="header__logo">
        <a class="header__logo-link" href="index.html">
            <picture>
                <source srcset="images/logotype-desktop.svg" media="(min-width: 1200px)">
                <source srcset="images/logotype-tablet.svg" media="(min-width: 768px)">
                <img src="images/logotype-mobile.svg" alt="Логотип">
            </picture>
        </a>
        <button class="nav-btn nav-btn--right">
            <span class="nav-btn__item"></span>
            <span class="nav-btn__item"></span>
            <span class="nav-btn__item"></span>
        </button>
    </div>

    <div class="header__body">
        <h1 class="hidden">Заголовок</h1>
        <img class="header__img-title" src="images/sedona_title.svg" alt="Заголовок">
    </div>
</header>