<header class="header container">
    <!-- <div class="header__inner">

        <nav class="nav container ">
            <button class="nav__close">
                <svg class="nav__close-icon">
                    <use xlink:href="#close-icon"></use>
                </svg>
            </button>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="nav__list-item-link nav__list-item-link--active" href="index.html">Главная</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__list-item-link" href="#">ФОТО И ВИДЕО</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__list-item-link" href="form.html">Форма Отзыва</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__list-item-link" href="#">HTML ACADEMY</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <div class="header__logo">
        <a class="header__logo-link" href="index.html">
            <picture>
                <source srcset="img/logotype-desktop.svg" media="(min-width: 1200px)">
                <source srcset="img/logotype-tablet.svg" media="(min-width: 768px)">
                <img src="img/logotype-mobile.svg" alt="Логотип">
            </picture>
        </a>
        <button class="nav-btn nav-btn--right">
            <span class="nav-btn__item"></span>
            <span class="nav-btn__item"></span>
            <span class="nav-btn__item"></span>
        </button>
    </div>

    <div class="header__body">
        <h1 class="hidden">Заголовок</h1>
        <img class="header__img-title" src="img/text-sedona.svg" alt="Заголовок">
    </div>
</header>