.advantages {
    
    &__item {
        display: flex;
        @include tablet {
            display: inline-block;
        }
    }

    &__wrap {
        padding: 35px 21px;
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 59px 78px 80px 58px;
        }
    }

    &__icon-box {
        margin-right: 12px;
        @include tablet {
            text-align: center;
            margin-right: 0;
        }
    }

    &__item-icon {
        width: 40px;
        height: 40px;   
        flex-shrink: 0;
        margin: 0 auto;
        @include tablet {
            height: 75px;
            width: 75px;
            margin-bottom: 26px;
        }
    }

    &__info {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 26px;
    }

    &__item-text {
        text-align: left;
        @include tablet {
            text-align: center;
        }
    }

    &__item-title {
        font-weight: 700;
        text-align: left;
        margin-bottom: 28px;
        @include tablet {
            text-align: center;
        }
    }
}