.advantages {

    &__inner {
        padding: 35px 18px;
        @include tablet {
            display: flex;
            margin: 0 auto;
        }
    }

    &__item {
        display: flex;
    }

    &__info {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 26px;
    }

    &__item-icon {
        margin-right: 12px;
        flex-shrink: 0;
        align-self: flex-start;
    }

    &__item-text {
        text-align: left;
    }

    &__item-title {
        font-weight: 700;
        text-align: left;
        margin-bottom: 28px;
    }

    @include tablet{
        display: flex;
    }

}