.footer {
    &__inner {
        margin-top: 39px;
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    &__title, &__social {
        text-transform: uppercase;
        text-align: center;
    }

    &__social {
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
    }
    
    &__social-link {
        text-decoration: none;
    }

    &__social-item:hover {
        background-color: #669EC0;
    }

    &__social-item:active {
        background-color: #5496BD;
        @include tablet {
            background-color: transparent;
        }
    }

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 33px;
        background-color: #81B3D2;
        width: 47px;
        height: 48px;
    }

    &__social-item:not(:last-child) {
        margin-right: 6px;
    }

    &__produced {
        display: flex;
        justify-content: center;
    }

    &__icon {
        align-items: center;
        display: block;
        margin-left: 12px;
    }

    &__author {
        align-self: center;
    }

}