.footer {
    &__inner {
        margin-top: 39px;
    }

    &__title, &__social {
        text-transform: uppercase;
        text-align: center;
    }

    &__item {
        margin-right: 6px;
        margin-top: 33px;
        background-color: #81B3D2;
        width: 47px;
        height: 48px;
    }

    &__social {
        margin-bottom: 35px;
    }
    
    &__social-link {
        text-decoration: none;
    }

    &__produced {
        display: flex;
        justify-content: center;
    }

    &__icon {
        align-items: center;
        display: block;
        margin-left: 12px;
    }

    &__author {
        align-self: center;
    }

}