.form {

    &__wrapper {
        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }
    }

    &__wrap {
        padding: 0 20px 25px;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 20px;
        @include tablet {
            border-bottom: none;
            justify-content: space-between;
        }
    }

    &__input--tel:after {
        content: "";
        width: 58px;
        height: 58px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #E6E6E6 url(../img/phone.svg) no-repeat center center;
    }

    &__input--email:after {
        content: "";
        width: 58px;
        height: 58px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #E6E6E6 url(../img/mail.svg) no-repeat center center;
    }

    &__title {
        margin-bottom: 17px;
        text-align: center;
        text-transform: uppercase;
        @include font(18px, 26px, 700);
        color: #000;
        @include tablet {
            &--decor:before, &--decor:after {
                content: '';
                height: 1px;
                background-color: #E7E5E5;
                flex-grow: 1;
            }
            &--decor {
                display: flex;
                align-items: center;
                text-align: center;
                margin-bottom: 20px;
                @include desktop {
                    margin-bottom: 71px;
                }
            }
            &--decor:before {
                margin-right: 60px;
            }
            &--decor:after {
                margin-left: 60px;
            }
        }
    }

    &__label {
        @include font(14px, 26px);
        text-transform: uppercase;
        color: #333333;
        margin-right: 12px;
        flex-shrink: 0;
    }

    &__input {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        position: relative;

    }

    &__input-text {
        padding: 14px 14px 10px;
        background-color: #F2F2F2;
        color: #000;
        @include font(18px, 26px, 700);
        outline: none;
        border: none;
        width: 100%;
        border: 4px solid #F2F2F2;
    }

    &__input--icon &__input-text {
        padding-right: 60px;
    }

    &__input-text:hover {
        background-color: #E5E5E5;
        border-color: #E5E5E5;
    }

    &__input-text:focus {
        background-color: #fff;
        border: 4px solid #E5E5E5;
    }

    &__input-text::-webkit-input-placeholder{
        color: #000;
    }

    &__input-text:-moz-placeholder{
        color: #000;
        opacity: 1;
    }

    &__input-text:-moz-placeholder{
        color: #000;
        opacity: 1;
    }

    &__input--column {
        display: block;
    }

    &__input--column &__label {
        margin-bottom: 8px;
        display: block;
        margin-left: 22px;
    }

    &__radio {
        margin: 39px 20px;
    }

    &__options {
        padding: 27px 20px 31px;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;

        &__wrap {
            padding: 0 64px;
        }

        &__options {
            order: 1;
            padding-left: 64px;
            padding-top: 0;
            border-right: 1px solid #DBDBDB;
            padding-bottom: 0;
            margin-bottom: 76px;
        }
        &__name {
            order: 2;
            padding-right: 64px;
            padding-bottom: 0;
            padding-left: 58px;
            margin-bottom: 76px;
        }
        &__contacts {
            order: 3;
            width: 100%;
            padding: 0 64px;
        }
        &__checkbox {
            order: 4;
        }
        &__area {
            order: 5;
            width: 100%;
            padding: 0 64px;    
        }

        &__options, &__name {
            width: 50%;
            text-align: left;
        }
        &__options &__title {
            margin-bottom: 34px;
            height: 52px;
        }
        &__name &__title {
            margin-bottom: 34px;
            height: 52px;
        }

        &__name &__input:last-child {
            margin-bottom: 0;
        }
    }

    @include desktop {
        
        &__checkbox &__inner {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 120px;
        }

        &__contacts-wrap {
            display: flex;
            justify-content: center;
        }
        
        &__input--column {
            margin-right: 79px;
        }

        &__input--column &__label {
            margin: 0 auto;
            margin-right: 16px;
        }

        &__input--tel, &__input--email {
            display: flex;
        }

        &__input--column:last-child {
            margin-right: 0;
        }

        &__wrap {
            padding: 0 120px;
        }

        &__label-tel {
            display: none;
        }

        &__name &__input:last-child {
            margin-bottom: 0;
        }
    }

    &__options-item{
        margin-bottom: 20px;
        padding-left: 70px;
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__options-item:last-child{
        margin-bottom: 0;
    }

    &__options-input {
        display: none;
    }

    &__options-input:checked + &__options-label:after {
        transform: scale(1);
    }

    &__options-label {
        @include font(18px, 26px, bold);
    }

    &__options-label:before {
        content: "";
        width: 46px;
        height: 46px;
        background-color: #F2F2F2;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -23px;
    }

    &__options-label:hover:before {
        background-color: #E5E5E5;
    }

    &__options-label:active:before {
        background-color: #D5D5D5;
    }

    &__options-label:after {
        content: "";
        width: 18px;
        height: 18px;
        background-color: #333;
        border-radius: 50%;
        position: absolute;
        left: 14px;
        top: 50%;
        margin-top: -9px;
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    &__checkbox {
        padding: 27px 20px 31px;
        @include tablet {
            width: 100%;
            margin-bottom: 7px;
        }
    }

    &__checkbox &__title {
        @include tablet {
            margin-bottom: 47px;
        }
    }

    &__inner {
        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 460px;
            margin: 0 auto;
        }
        @include desktop {
            justify-content: space-between;
        }
    }

    &__checkbox-item {
        position: relative;
        margin-bottom: 54px;
        padding-left: 75px;
        @include tablet {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 32px;
        }
    }

    &__checkbox-item:last-child {
        margin-bottom: 0;
    }

    &__checkbox-input:checked + &__checkbox-label:before {
        background: #F2F2F2 url(../img/tick.svg) no-repeat center center;
        transform: scale(1);
    }

    &__checkbox-input {
        display: none;
    }

    &__checkbox-label {
        @include font(18px, 26px, bold);
    }

    &__checkbox-label:before { 
        content: "";
        width: 46px;
        height: 46px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        background-color: #F2F2F2;
	    transition: all 0.3s ease 0s;
    }

    &__checkbox-label:hover:before {
        background-color: #E5E5E5;
    }

    &__checkbox-label:active:before {
        background-color: #D5D5D5;
    }

    &__textarea {
        width: 279px;
        height: 160px;
        resize: none;
        margin-bottom: 51px;
        padding: 13px 22px;
        @include font(18px, 26px, bold);
        outline: none;
        border: none;
        background-color: #F2F2F2;
        width: 100%;
        border: 4px solid transparent;
    }

    &__area &__title {
        margin-bottom: 55px;
    }

    &__textarea:hover {
        background-color: #E5E5E5;
        border-color: #E5E5E5;
    }

    &__textarea:focus {
        background-color: #fff;
        border: 4px solid #E5E5E5;
    }

    &__textarea::-webkit-input-placeholder{
        color: #000;
    }

    &__textarea:-moz-placeholder{
        color: #000;
        opacity: 1;
    }

    &__textarea:-moz-placeholder{
        color: #000;
        opacity: 1;
    }

    &__wrap--border {
        border-bottom: none;
    }

    &__help {
        display: none;
        @include tablet {
            display: block;
        }
    }

    &__wrap-btn {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__btn  {
        width: 100%;
        font-family: "PT Sans", Arial, Helvetica, sans-serif;
        display: block;
        font-size: 21px;
        line-height: 26px;
        text-transform: uppercase;
        height: 58px;
        background-color: #81b3d2;
        border: none;
        outline: none;
        color: white;
        font-weight: 700;
        cursor: pointer;
        @include tablet{
            max-width: 324px;
            height: 58px;
            // margin-left: 0 auto;
        }
        @include desktop {
            max-width: 480px;
        }
    }

    &__btn:hover {
        background-color: #669EC0;
    }

    &__btn:active {
        background-color: #5496BD;
    }

    &__btn:disabled {
        background-color: #E5E5E5;
    }
}