.container {
    padding: 0 20px;
}

.header {
    background-color: $main-color;
    &__inner {
        min-height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-link {
        position: absolute;
        top: 0;
        transform: translate(-50%);
        left: 50%;
    }
}

.header-nav {
    
}

.header-nav__btn {
    width: 23px;
    height: 22px;
    background-color: #fff;
    outline: none;
    border: none;
}

.header-nav__btn-item {
    height: 4px;
    display: block;
    background-color: #81b3d2;
}

.header-nav__btn-item:nth-child(2) {
    margin: 5px 0;
}