.header {
    background-color: $main-color;
    &__inner {
        min-height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-link {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -50px;
        z-index: 1;
    }
}