.nav-btn {
    width: 23px;
    height: 22px;
    background-color: #fff;
    outline: none;
    border: none;
    right: 20px;
    top: 17px;

    &__item {
        height: 4px;
        display: block;
        background-color: #81b3d2;
    }

    &__item:nth-child(2) {
        margin: 5px 0;
    }

    &--right {
        margin-left: auto;
    }

    @include tablet{
        display: none;
    }
}