.sedona-features {
    
    background-color: #81B3D2;
    max-width: 1200px;
    margin: 0 auto ;
    position: relative;
    
    &__inner {
        padding: 42px 32px;
        text-align: center;
        color: #fff;
        background-color: #81B3D2;
    }

    &__title {
        text-transform: uppercase;
        @include font(21px, 26px, 700);
    }

    &__subtitles {
        margin-top: 28px;
        text-transform: uppercase;
        @include font(14px, 21px, 400);
    }

    &__count {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-top: 15px;
    }

    &:after {
        content: ' ';
        height: 37px;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background: url(../img/decor-bottom.svg) no-repeat center center;
        display: block;
        @include tablet {
            display: none;
        }
    }

    &--common:after {
        display: none;
    }

    &__pic {
        vertical-align: top;
        width: 100%;
        height: 260px;
        object-fit: cover;
    }

    @media (min-width: 768px) {

    &__container {
            display: flex;
    }

    &--common .sedona-features__inner {
        order: 1;
    }

     &__image {
        vertical-align: top;
        width: 100%;
    }

    }
}