.sedona-features {
    position: relative;
    background-color: #81B3D2;
    max-width: 1200px;
    margin: 0 auto ;
    &__inner {
        padding: 55px 12px 39px;
        text-align: center;
        color: #fff;
        @include desktop {
            background-color: #81B3D2;
        }
    }

    &__subtitles {
        margin-top: 28px;
    }

    &__count {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-top: 15px;
    }

    &:after{
        content: ' ';
        height: 37px;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background: url(../images/sedona_about_decor.svg) no-repeat center center;
    }
}