.sedona-search {
    &__item {
        text-align: center;
    }

    &__text {
        margin-top: 33px;
        @include tablet {
            margin-bottom: 52px;
        }
    }
    
    &__hotel {
        text-align: center;
        padding: 33px 20px 50px;
        text-transform: uppercase;
        background-color: #fff;
    }

    &__btn  {
        width: 100%;
        font-family: "PT Sans", sans-serif;
        display: block;
        font-size: 21px;
        line-height: 26px;
        text-transform: uppercase;
        height: 58px;
        background-color: #81b3d2;
        margin-top: 27px;
        border: none;
        outline: none;
        color: white;
        font-weight: 700;
        cursor: pointer;
        @include tablet{
            width: 458px;
            height: 58px;
            margin: 0 auto;
        }
    }

    &__btn:hover {
        background-color: #669EC0;
    }

    &__btn:active {
        background-color: #5496BD;
    }

    &__btn:disabled {
        background-color: #E5E5E5;
    }


    &__title {
        text-transform: uppercase;
    }
}